* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
.header,
.footer{
    background-color: #262626;
}

/* --GRID-- */

.container {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
    margin-left: auto;
    margin-right: auto;
}

.header {
    grid-area: header; 
    display: flex;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 1;
}

main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: black;
}

.footer { 
    grid-area: footer; 
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: sticky;
    bottom: 0;
    z-index: 1;
}


/* --ITEMS-- */

/* Header */
.menu{
    display: flex;
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 1em;
    margin-left: 1em;
    padding-bottom: 0.5em;
    justify-content: space-between;
    align-items: flex-end;
}

.download{
    display: flex;
    margin-left: 1em;
    align-self: end;
    justify-content: space-between;
}

#download-text{
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1em;
    align-self: center;
    font-size: 0.8em;
}

.menu-item{
    list-style-type: none;
    padding: 0.6em;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
}

.menu-item a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

a:hover {
    color: #ff005a;
    transition: .3s;
}

#active-page{
    color: #ff005a;
}

#active-menupage{
    color: #ff005a;
    font-weight: 900;
}

.dropdown {
    visibility: hidden;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 2.4em;

}

.dropdownbutton {
    background-color:#ff005a;
    color: white;
    border-radius: 2px;
    padding: 0.7em;
    right: 0;
    bottom: 0;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border-radius: 2px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    background-color:black;
    min-width: 140px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown-content a:hover {
    background-color: #ff005a;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* --LEFT-- */

/* Left section at the home page */
.left-prof { 
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.profilepicture{
    display: flex;
    align-self: flex-end;
    max-width: 100%; 
    margin-left: 5em;
    margin-top: 5em;
}

/* Left section at the following pages */
.left { 
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    background-color: black;
}
.chapter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    min-height: 5vh;
    width: auto;
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 3em;
}



/* --RIGHT-- */

/* Right section - home page heading */
#welcome{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Right section - home, resume and education */
.right { 
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding-bottom: 3em;
    padding-right: 3em;
    background-color: #d0cece;
}

.container-col{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    margin: 0;
    min-height: 5vh;
    width: 100%;
    padding-left: 4em;
    padding-top: 3em;
    justify-content: left;

    text-align: left;
    word-wrap: break-word;
    background-color: #d0cece;
}



/* Right section - portfolio */
.right-portfolio { 
    display: flex;
    justify-content:space-evenly;
    justify-content: left;
    flex-wrap: wrap;
    width: 70%;
    padding-left: 2em;
    padding-top: 2em;
    padding-right: 3em;
    padding-bottom: 3em;
    background-color: #d0cece;


}

.portfolio-container{
    display: flex;
    width: 205px;
    height: 220px;
    margin: 1em;
    padding: 0.5em;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    flex: 1 0 205px;

}

.hidden-flex-item{
    content: "";
    flex: 1 0 205px;
    margin: 1em;
    padding: 0.5em;
    visibility: hidden;
}

.portfolio-img-container{
align-content: flex-start;
}

.portfolio-img{
    height: 140px;
    max-width:fit-content;
}

.project-img{
    display: flex;
    width: 95vw;
    margin: 1em;
    padding: 1em;
}

.link-container{
margin-bottom: 0.8em;
}

.portfolio-link{
    font-size: 0.7em;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: #ff005a;
    position: absolute;
    text-align: end;
}

/* Right section - contact */
.right-contact { 
    justify-content: left;
    flex-wrap: wrap;
    width: 70%;
    background-color: #d0cece;
    padding: 3em;
}

.contact-container{
    width: 75%;
    height:fit-content;
    padding: 2em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* The contact text */
#contactinfo{
    font-size: 1.1em;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 2em;
}
/* Font for the form */
.group label {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

/*Contact form*/
input[type=text], select {
    width: 100%;
    padding: 1em 15px;
    margin: 6px 0;
    display: inline-block;
    background-color: white;
    border: 1px solid rgba(230, 227, 227, 0.6);
    border-radius: 2px;
}

/*Submit button*/
input[type=submit] {
    width: 100%;
    background-color:#262626;
    color: white;
    padding: 14px 20px;
    margin: 1em 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/*Color when hovering the submit-button*/
input[type=submit]:hover {
    background-color: #ff005a;
}


/* --MAIN CONTAINER-- */

.full-width-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-div-container{
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
}

.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
}

.skills-div-container{
    display: table;
    border: none;
    padding: 2em;
}

/* --FOOTER-- */

.social-media{
    display: flex;
    justify-content: center;
}

.some-logo{
    width: 30px;
    height: 30px;
    margin: 1em;
}


/* --STYLING-- */

/* Headers and paragraphs */
h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2.1em;
    font-weight: 800;
    margin: 0;
    color: #ff005a;
}

h3{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;
}

h4{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 0.9em;
    line-height: 1.1rem;
}

p{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0;
    line-height: 1.1rem;
}

.home{
    font-family: 'Raleway', sans-serif;
    font-size: 2.6em;
    margin: 0;
    margin-top: 2em;
    color: white;
}

.home-p{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.7em;
}

.home-p2{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 1em;
    margin-left: 1.7em;
    font-size: 0.9em;
    line-height: 1.7em;
}

.skills{

    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 1em;
    margin-left: 1.7em;
    font-size: 0.9em;
    line-height: 1.7em;
padding-left: 1em;
}

.skill-header{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-left: 1.4em;
}

.skills-list-img{
    margin-left: 1.6em;
    margin-top: 0.2em;
}

.job-h4{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.2em;
}

.cvList{
    list-style-type: none;
    line-height: 2.5em;
}


/* Elements */
.hline{
    width:90%; 
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height:1px; 
    background: rgba(0,0,0,0.3);
}

/*Modal*/

.lookBtn {
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    background: #262626;
    color: white;
    margin-top: 2em;
    margin-left: 1em;
    padding: 0.5em;
    border: 1px solid rgba(230, 227, 227, 0.6);
    border-radius: 3px;
    justify-items: baseline;
}
/*Den gråa bakgrunden bakom rutan*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8);
}

/*Rutan med innehåll*/
.modal-content {
    margin: auto;
    width: 40%;
    padding: 3em;
    color: #262626;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* The Close Button*/
.close {
    color: #ff005a;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* -- DESKTOP FIRST -- */


/*Breakpoint 900px down to <mobile*/
@media (max-width:900px) {

/*Hide the list-menu*/
.menu-item{
    display: none;
}

/*Show the drop down menu*/
.dropdown{
    visibility: visible;
}

.full-width-container{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.right { 
    padding-bottom: 2em;
    padding-right: 2em;
    min-width: 100%;
}

.profilepicture{
    margin-left: 0;
    margin-top: 1em;
}

#download-text{
    margin-left: 0.6em;
    font-size: 0.7em;
}

.image-div-container{
    text-align: center;
}

.left { 
    width: 100%;
    align-items: center;
}
.chapter{
    text-align: left;
    width: 100%;
    padding: 2em;
}

.right-portfolio { 
    width: 100%;
    padding: 1em;
}

.portfolio-container{
    width: 190px;
    height: 220px;
}

.portfolio-link{
    font-size: 0.6em;
}

.right-contact { 
    width: 100%;
    padding: 2em;
}

.contact-container{
    width: 100%;
    padding: 1em;
}

.group label {
    font-size: 0.7em;
}

input[type=text], select {
    width: 100%;
    padding: 1em;
    margin: 5px 0;
}

h2{
    font-size: 1.9em;
    font-weight: 800;
}

h3{
    font-weight: 600;
    font-size: 14px;
}

h4{
    font-size: 13px;
}

p{
    font-size: 12px;
    line-height: 1rem;
}

}




  